* {
    padding: 0px;
    font-family: 'Slabo 27px', serif;
}

body {
    background: #5b3418;
}


/*Navbar*/

.nav-bar {
    background: darkred;
    margin: -7px;
    height: 40px;
}

.nav-bar a {
    color: navajowhite;
    padding: 30px;
}


/*Pictures*/

.panda {
    display: inline-block;
    margin: 20px 50px 20px 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding: 30px;
    border: 1px solid gray;
    background-color: white;
    background: gray;
    border-radius: 30px;
    border-left: 10px solid darkgray;
    border-right: 10px solid lightgray;
    position: relative;
}


/*section links*/

.links {
    margin-left: -8px;
    margin-right: -8px;
    text-align: left;
}

.links a {
    display: inline-block;
    height: 30px;
    padding-left: 216px;
    padding-right: 96px;
    padding-top: 10px;
    color: navajowhite;
    text-decoration: none;
    background: darkred;
    text-align: center;
    margin: -3px -33px 11px 40px;
    height: 22px;
}


/*
.extintion .p {
    color: navajowhite;
}
.pictures .p  {
    background: darkred;
    margin: -7px 20px;
}*/


/*titles*/

main h3 {
    display: block;
    color: navajowhite;
    float: right;
}

main h4 {
    display: block;
    color: navajowhite;
    float: left;
}


/*Close x photo*/

.container-pictures .close {
    position: absolute;
    top: 54px;
    right: 1032px;
    z-index: 101;
    display: block;
}